@using Persistence;
@using Days;

@page "/day"

<h1>AddDay (@days.Count(day => !day.IsDone))</h1>

<ul>
    @foreach (var day in days)
    {
        <li>
            <input type="checkbox" @bind="day.IsDone" @onclick="AddDay" />
            <input @bind="day.Title" />
        </li>
    }
</ul>

<EditForm Model="@day" OnValidSubmit="@HandleValidSubmit">
    <input placeholder="Something todo" @bind="newDay" />
    <InputDate @bind-Value="day.Date" />
    <button @onclick="AddDay">Add Day</button>y
    <button type="submit">Submit</button>
</EditForm>

<hr>

@foreach (var titles in daysFromDisk)
{
    <li>
        <h2>@titles.Title</h2>
    </li>
}

@code {
    private string? newDay;
    private Day day = new() { Date = DateTime.UtcNow };
    private List<Day> days = new();
    private List<Day> daysFromDisk = new();
    Persistence.SaveToFile db = new Persistence.SaveToFile();
    Persistence.LoadFromFile getFiles = new Persistence.LoadFromFile();

    protected override void OnInitialized()
    {
        daysFromDisk = getFiles.ObjectsFromFile();
    }

    private void AddDay()
    {
        if (!string.IsNullOrWhiteSpace(newDay))
        {
            day = new Day { Title = newDay };
            days.Add(day);
            newDay = string.Empty;
        }
        if (day is not null && !string.IsNullOrWhiteSpace(day.Title))
        {
            db.ObjectToFile( day, day.Title );
        }
    }

        private void HandleValidSubmit()
        {
        }
}
