@using Persistence;
@using Days;

@page "/todo"

<h1>Todo (@days.Count(day => !day.IsDone))</h1>

@foreach (var titles in daysFromDisk)
{
    <li>
        <h2>@titles.Title</h2>
    </li>
}

<ul>
    @foreach (var day in days)
    {
        <li>
            <input type="checkbox" @bind="day.IsDone" @onclick="AddDay" />
            <input @bind="day.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newDay" />
<button @onclick="AddDay">Add Day</button>

@code {
    private string? newDay;
    private Day? day;
    private List<Day> days = new();
    private List<Day> daysFromDisk = new();
    Persistence.SaveToFile db = new Persistence.SaveToFile();
    Persistence.LoadFromFile getFiles = new Persistence.LoadFromFile();

    protected override void OnInitialized()
    {
        daysFromDisk = getFiles.ObjectsFromFile();
    }

    private void AddDay()
    {
        if (!string.IsNullOrWhiteSpace(newDay))
        {
            day = new Day { Title = newDay };
            days.Add(day);
            newDay = string.Empty;
        }
        if (day is not null && !string.IsNullOrWhiteSpace(day.Title))
        {
            db.ObjectToFile( day, day.Title );
        }
    }
}
